<html><!--user/show/から飛べる-->
  <body>
    <main>
       <div class="container">
        <div class="row">
          <div class="col-md-3">
            <%= render 'users/shared', user: current_user %>
          </div>

            <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= image_tag @book.user.get_profile_image(50,50) %>
                <br><%= link_to @book.user.name, user_path(current_user) %>
              </td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
              <td><%= link_to "Edit", edit_book_path(@book) %></td>
              <td>
                <% if @book.user == current_user %>
                  <%= link_to "Destroy", @book, method: :delete %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        </div>
      </div>
    </main>
  </body>
</html>